name: ci
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  build:
    # Job name is Greeting
    name: build
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: '16.x'
      - run: corepack enable
      - run: yarn install --immutable
      - name: Build
        run: yarn run build
      - name: Run linter
        run: yarn run lint
      - uses: tj-actions/verify-changed-files@v9
        if: github.ref_name != 'master'
        id: verify-changed-files
        with:
          files: |
            packages/snap/snap.manifest.json
      - name: Check if snap manifest updated
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          echo "Snap manifest not updated: ${{ steps.verify-changed-files.outputs.changed_files }} 
          or @metamask/snaps-cli version is different from local version"
          exit 1
      - name: Run tests
        run: yarn run test

  page:
    needs: build
    name: Cloudflare Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: '16.x'
      - run: corepack enable
      - name: Install
        run: yarn install --immutable
      - name: Build
        run: yarn build
        env:
          REACT_APP_SNAP_ID: 'npm:@chainsafe/polkadot-snap'
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 2238a825c5aca59233eab1f221f7aefb
          projectName: metamask-snap-polkadot
          directory: ./packages/example/build
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref || github.ref_name }}